body {
  font-family: sans-serif;
  color: white;
  background-color: rgb(10, 16, 31);
  line-height: 1.4em;
}

a {
  color: antiquewhite;
}

kbd {
  /* from https://developer.mozilla.org/en-US/docs/Web/HTML/Element/kbd  */
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}
div.svelte-733euz{margin:1em auto 1em auto;max-width:800px}main.svelte-733euz{background-color:rgb(30 41 59);border-radius:0.6em;padding:1em}footer.svelte-733euz{font-size:small;text-align:right;opacity:0.5;padding:0.4em}